@import url(../assets/fonts/stylesheet.css);
:root{
    --main:#B80000;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    direction: rtl; 
    font-family: 'Amiri' , serif;
}
.font-fam{
    font-family: 'Amiri' ,serif;
}
header{
    /* background-color: var(--main) ; */
    width: 100%;
    font-family: 'Amiri';
}

.logo{
    width: 100%;
    /* display: inline-block; */
    color: #eee;
    word-spacing: 5px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
    text-transform: uppercase;
    cursor: pointer;
    background-color: var(--main);
    padding-right: 20px;
    
    
}


 

.bbc{
    
    display: inline;
    
}
.logo b{
    color: var(--main);
    background-color: #eee;
    margin: 2px;
    padding: 0px 6px ;
    font-size: 14px;
    border-radius: 3px;
    
}

.nav-bar{
  background-color: var(--main);
  margin-top: 1px;
    font-weight: bolder;
  line-height: 10px;
}
.nav-bar ul{
    display: flex;
    padding: 0px;
   

}

.nav-bar ul li{
    list-style: none;
    margin-left: 20px;
    display: inline-block;
    

}
.nav-bar ul li a{
    text-decoration: none;
    color: #eee;  
    position: relative;
    font-size: 18px;

    
    
}


.nav-bar ul li a::after{
    display: block;
    content: "";
    position: absolute;
    border-bottom: 5px solid #eee;
    width: 100%;
    bottom: -50%;
  
    transform: scale(0,0);
}

.nav-bar ul li a:hover::after{
    transform: scale(1,1);
}


.main-content h3{
    color: #4d4d4d;
}

.main-content span , .letest-news span{
    color: #4d4d4d;
    
}


.main-content a ,.letest-news a{
    color: #000;
    font-weight: bolder;
}
.main-content a:hover , .letest-news a:hover{
    color: #4d4d4d;
}

.letest-news p{
    color: #000;
}

.split{
    margin: 130px 50px 0;
}
.line{
    display: inline;
    background-color: #cccc;
    height: 2px;
    margin-top: 15px;
}

h3.life-title{
   color: #000;
}


h3.life-title::before{
   content: "مباشر";
   color: var(--main);
   font-size: 40px;
 }



.buttons , .buttons:hover{
    color: white;
    text-decoration: none;
    background-color: black;
    display: block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    border-radius: 2px;
}


.item{
    border-right: rgb(34, 34, 34) 1px solid;
}
.icons i{
   font-size: 80px;
}
.face{
    color: #3b5998;
}
.twit{
    color: #00aced;
}
.insta{
    color: #517fa4;

}
.yout{
    color: #bb0000

}
.foot{
background: #282625;
}
.foot-ul a{
    color: #fff;
}
.foot-ul a:hover{
    color: #fff;
}


.foot-ul li{
    list-style: none;
    margin-top: 10px;
}